[package]
name = "fs-set-times"
version = "0.13.2-alpha.0"
authors = ["Dan Gohman <dev@sunfishcode.online>"]
description = "Set filesystem timestamps"
documentation = "https://docs.rs/fs-set-times"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
repository = "https://github.com/bytecodealliance/fs-set-times"
edition = "2018"
keywords = ["api", "file"]
categories = ["filesystem"]
exclude = ["/.github"]

[dependencies]
io-lifetimes = { version = "0.3.0", default-features = false }

[target.'cfg(not(windows))'.dependencies]
rustix = "0.26.0"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["winerror"] }

[badges]
maintenance = { status = "actively-developed" }
